@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');

$color-black: #2D3436;
$color-white: #FFFFFF;
$color-primary: #f0e7d2;
$color-secondary: #b6cecf;
$text-color: rgb(58, 38, 38);


$font-name: "Dancing Script", sans-serif;
$font-header: "Roboto", sans-serif;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}